<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <a>open menu</a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                    <a class="btn-sm d-flex align-items-center justify-content-center">Stud2Emp</a>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded"
                        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                        alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">
                        <strong> <%= user.name %> </strong>
                    </span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>

            <!-- sidebar-header  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="/">
                            <i class="fas fa-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="/users/appo">
                            <i class="fas fa-calendar-check"></i>
                            <span>Schedule Appointment</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="/users/search">
                            <i class="fas fa-search-dollar"></i>
                            <span>Search Job</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="/users/emailus">
                            <i class="fas fa-search-dollar"></i>
                            <span>Contact us</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="/users/logout">
                <i class="fas fa-sign-out-alt"> LogOut</i>
            </a>
        </div>
        <i class="fas fa-bars float-left fixed-top btn-lg" href="javascript:void(0)" class="closebtn" onclick="closeNav()"></i>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <h1>Stud2Emp - Contact us </h1>
            <div class="alert alert-dismissible alert-warning" id="Valid-msg"></div>
            <form action="https://formspree.io/mgepeaed" method="POST" onsubmit="return validation()" target="_blank">
                <ul style="list-style: none">
                    <li>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Full Name</label>
                            <input type="text" class="form-control" placeholder="Full Name" id="fname" name="fname" required>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="Emailinput" name="email" aria-describedby="emailHelp"
                                placeholder="Enter email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                    </li>
                    <li>
                        <div class="form-group">
                            <label for="exampleTextarea">Message Text</label>
                            <textarea  name="msg"class="form-control" id="mTextarea" rows="10"
                                placeholder="Enter Your Message Here......."></textarea>
                        </div>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </li>
                </ul>

            </form>
        </div>
    </main>
    <!-- page-content" -->
</div>
<!-- page-wrapper -->
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<style>
    #Valid-msg {
        margin-bottom: 20px;
        padding: 0px;
        text-align: center;
        font-size: 14px;
        transition: all 0.5s ease;
    }
</style>
<script>
    function validation() {
        let fname = document.getElementById("fname").value;
        let mail = document.getElementById("Emailinput").value;
        let msg = document.getElementById("mTextarea").value;
        let vaildmsg = document.getElementById("Valid-msg");
        
        if (fname.length < 5) {
            vaildmsg.style.padding = "10px";
            let msg = "Please Enter Full Name";
            vaildmsg.innerText = msg;
            return false;
        }
        if (mail.indexOf("@") == -1 || mail.length < 6) {
            vaildmsg.style.padding = "10px";
            let text = "Please Enter valid Email";
            vaildmsg.innerHTML = text;
            return false;
        }
        if(msg.length<1)
        {
            let text="Please Enter a Message";
            vaildmsg.innerText=text;
            return false;
        }
        else{
            alert("Thank you , our staff will replay soon .");
        }
        return true;
         
    }
</script>