<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Stud2Emp</a>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded"
                        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                        alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">
                        <strong> <%= user.name %> </strong>
                    </span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>

            <!-- sidebar-header  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="/">
                            <i class="fas fa-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="/users/appo">
                            <i class="fas fa-calendar-check"></i>
                            <span>Schedule Appointment</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="/users/search">
                            <i class="fas fa-search-dollar"></i>
                            <span>Search Job</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="/users/emailus">
                            <i class="fas fa-search-dollar"></i>
                            <span>Email us</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="/users/logout">
                <i class="fas fa-sign-out-alt"> LogOut</i>
            </a>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <h2>Stud2Emp - Search Job</h2>
            <hr>
            <div class="row">
                <div id="form">
                    <div class="md-form mt-0">
                        <form class="form-inline active-cyan-4">
                            <select class="dropdown-item" name="country" id="code">
                                <option class="dropdown-item" value="null">Select Country</option>
                                <option class="dropdown-item" value="gb">united kingdom</option>
                                <option class="dropdown-item" value="us">united states</option>
                                <option class="dropdown-item" value="at">Austria</option>
                                <option class="dropdown-item" value="it">Italy</option>
                                <option class="dropdown-item" value="fr">France</option>
                            </select>
                            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Job Title"
                                id="searchj" aria-label="Search">
                            <i class="fas fa-search" aria-hidden="true"></i>
                            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Location"
                                id="location" aria-label="Search">
                        </form>
                        <button class="btn btn-outline-success btn-rounded btn-sm my-0"
                            onclick="searchit()">Search</button>
                    </div>
                </div>
                <div id="reslut">

                </div>
            </div>

            <hr>
        </div>
    </main>
    <!-- page-content" -->
</div>
<!-- page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    async function searchit() {
        loadit(1);
        const job = document.getElementById("searchj").value
        const loc = document.getElementById("location").value
        const code = document.getElementById("code").value
        const joburi = `https://api.adzuna.com/v1/api/jobs/${code}/search/1?&results_per_page=20&content-type=application/json&app_id=8253435f&app_key=b92f732782a93773bccd2db020ac87c1&what=${job}&where=${loc}`;
        if (code != "null") {
            fetch(joburi).then(res => {
                return res.json()
            }).then(data => {
                const job = data.results.map(post => {
                    return `<div class="card border-success mb-3">
                 <div class="card-body">
                 <h4 class="card-title text-info" >${post.title}</h4>
                 <h5>${post.location.display_name}</h5>
               <p class="card-text">${post.description}</p>
                <a class="text-primary" href="${post.redirect_url}" target="_blank">View Job</a>
                </div>
                 </div>`
                }).join("");
                document.querySelector("#reslut").innerHTML = job
            }).catch(error => { console.log("ERROR IN FETCH") });
        } else {
            alert("Please Select Country")
        }
    }

</script>