<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-body text-center" style="max-width: 100%; max-height: 1000px;">
            <h1>Stud2Emp</i></h1>
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card border-light mb-3" style="max-width: 100%; max-height: max-content;">
            <div class="card-body">
              <h4 class="card-title text-center font-weight-light font-italic">Stud2Emp</h4>
              <p class="card-text">
                <section>
                  <h2 class="text-center font-weight-bolder p-lg-5">About us</h2>
                  <p class="text-center font-weight-bold form-control-plaintext">stud2emp is a platform that you can search for the new job opportunity that will lead you to success life. in this
                  platform you can search for a job in a specific country, also you can schedule an appointment for Consultation.
                  the platform is free all you have to do is sing up on our web, and start for free now.</p>
                </section>
                <hr class="w-header my-6 font-weight-bold">
                <section>
                  <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Services</h3>
                  <p class="lead text-center text-muted pt-2 mb-5">Join thousands of satisfied customers.</p>
                  <div class="row">
                
                    <div class="col-md-6 ">
                      <div class="card text-center bg-success text-white">
                        <div class="card-body">
                          <p class="mt-4 pt-2"><i class="fas fa-6x fa-calendar-check"></i></p>
                          <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Consultation</a></h5>
                          <p class="mb-4">Book an appointment and get the most professional consultation </p>
                        </div>
                      </div>
                    </div>
                
                    <div class="col-md-6 ">
                      <div class="card text-center bg-success text-white">
                        <div class="card-body">
                          <p class="mt-4 pt-2"><i class="fas fa-code fa-7x grey-text"></i></p>
                          <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Jobs</a></h5>
                          <p class="mb-4">Use our search engine to find your next job.
                          </p>
                        </div>
                      </div>
                    </div>
                
                
                  </div>
                
                </section>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>